@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'components/vars';

html {
  overflow-x: hidden;
  background-color: $white;
}

body {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  color: $gray;
  background: transparent;
  position: relative;
  min-width: 320px;
}

.modal-content {
  margin-top: 50px;
}

.modal-delete {
  display: none;
}

.modal-add{
  margin-top: 150px;
  width: 70%;
}

@import 'media/media';
